body {
  background-image: url('../img/SeattleTransit.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: #0000FE;
  color: white;
  text-align: center;
}

ul {
  list-style-type: none;
}

li img {
  width: 275px;
  max-height: 275px;
  display: inline-block;
  margin-right: 30px;
  margin-top: 50px;
}

#pics {
  background-color: #69FE02;
  border: 10px solid black;
  display: block;
  height: 400px;
  width: 960px;
  margin: auto;
}

p {
  color: #0000FE;
  text-align: center;
  font-size: 48px;
}

canvas {
  column-rule-color: white;
  color: white;
}
